@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-highlight : #FFBE42;
  --scroll-dim: rgb(136, 146, 176);
  --scroll-light: rgb(204, 214, 246);
  --surface : rgb(15 23 42);
  --light-navy : #112240;
  --navy-shadow: rgb(0 2 4 / 70%);
  --yellow: #FFBE42
  --transition: all 0.5s cubic-bezier(0.645,0.045,0.355,1);
}

@font-face {
  font-family: 'Solway';
  src: url('/fonts/Solway/Solway-Regular.ttf');
}

@font-face {
  font-family: 'Gaegu';
  src: url('/fonts/Gaegu/Gaegu-Regular.ttf')
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.bg-yellow{
  background-color: var(--yellow);
}

.font-hero{
  font-family: Solway, Solway Placeholder, serif;
}
.font-regular{
  font-family: Gaegu, sans-serif;
}

.text-yellow{
  font-color: #FFBE42;
}

nav a.active{
  color: var(--color-highlight);
}

#container {
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

main section {
  min-height: 100vh;
  scroll-snap-align: start;
}

@media (max-height:390px){
  #hero #content{
    padding:12px 0;
  }
  #hero #img-content{
    width: 240px;
  }
  #container{
   scroll-snap-type: none;
  }
  #about article, #works article, #projects article ,#contact article{
    padding-top: 0px;
  }
  article{
    padding-left: 1rem;
    padding-right: 1rem;
  }  
}

nav{
  counter-reset: item 0;
}

nav div ul a::before{
  counter-increment: item 1;
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: var(--color-highlight);
  text-align: right;
}

#about-content h1::before{
  display:flex;
  content: "01.";
  position: relative;
  margin-right: 10px;
  color: var(--color-highlight);
  text-align: right;
  font-weight: 600;
  align-items: end;
}

#about-content h1::after{
  content: "";
  display: block;
  position: relative;
  margin: 12.5px;
  height: 2px;
}

#skills-content li{
  position:relative;
  padding-left:20px;
}

#skills-content li::before{
  content: "▹";
  position: absolute;
  color: var(--color-highlight);
  padding-left: 4px;
  font-size: 14px;
  line-height: 12px;
  left:0px;
  top: 7px;
  line-height: 12px;
}

/* @media (max-width:390px){
  #skills-content li{
    padding-left:12px;
  }
  #skills-content li::before{
    padding-left:0px
  }

} */
 
#work-content h1::before{
  display:flex;
  content: "02.";
  position: relative;
  margin-right: 10px;
  color: var(--color-highlight);
  text-align: right;
  font-weight: 600;
  align-items: end;
}

#work-content h1::after{
  content: "";
  display: block;
  position: relative;
  margin: 14px;
  height: 2px;
}

#work-content li{
  position: relative;
}
#work-content li::before{
  content: "▹";
  position: absolute;
  color: var(--color-highlight);
  font-size: 14px;
  line-height: 12px;
  left:-16px;
  top: 7px;
  line-height: 12px;
}

#project-content h1::before{
  display:flex;
  content: "03.";
  position: relative;
  margin-right: 10px;
  color: var(--color-highlight);
  text-align: right;
  align-items: end;
}

#project-content h1::after{
  content: "";
  display: block;
  position: relative;
  margin: 14px;
  height: 2px;
}

/* #card-container {
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}
@media (max-width:1056px){
  #card-container {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}
@media (max-width:910px){
  #card-container {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
} */

#cards{
    box-shadow: 0 15px 36px -10px var(--navy-shadow);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    font-family : FiraCode, Roboto Mono, monospace;
    align-items: flex-start;
    height: 480px;
    border-radius: 4px;
    background-color: var(--light-navy);
    transition: var(--transition);
    overflow: auto;
}
#cards a:hover{
  transition: var(--transition);
}
.embla {
  width: 100%;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
}
.embla__viewport {
  overflow: hidden;
  width:100%;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  transform:none;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

@media (min-width: 925px) {
  .embla {
    width: 100%;
  }
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm));
  }
}
@media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}
.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}
@media (min-width: 860px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}
@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

#contact-content h1::before{
  display:flex;
  content: "04.";
  position: relative;
  margin-right: 10px;
  color: var(--color-highlight);
  text-align: right;
  align-items: end;
}

#footer svg{
  width: 25px;
  height: 25px;
  transition: var(--transition);
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--surface);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-dim);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-light);
}

